.reservation {
    margin-bottom: 30px;
    padding: 2rem;

    &-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;
    }

    &-left {
        color: #a4a4a4;
        font-size: 1rem;
    }

    &-right {
        color: #2a8f87;
        font-size: 1rem;
        font-weight: 600;
    }

    &-logo {
        width: 150px;
        height: 100px;
        object-fit: contain;
    }

    &-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.date-picker {
    color: #333;
    margin-right: 15px;
}
