.navbar {
    height: 100vh;
    background-color: whitesmoke;
    z-index: 10;
    display: flex;
    width: 16.67%;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-shadow: 1px 0px 4px 0px rgba(218, 218, 218, 1);
    -moz-box-shadow: 1px 0px 4px 0px rgba(218, 218, 218, 1);
    box-shadow: 1px 0px 4px 0px rgba(218, 218, 218, 1);

    @media only screen and (max-width: 768px) {
        width: 83.33%;
    }

    &-logo {
        padding: 1rem;
    }

    & img {
        display: block;
        height: 120px;
        margin: auto;
    }

    &__nav {
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        width: 100%;
    }

    &__list {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        list-style: none;
        width: 100%;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        outline: none;
        border: none;
        color: $color-primary;
        background-color: whitesmoke;
        font-weight: 400;
        padding: 0.3rem 0.5rem;
        display: inline-block;
        text-decoration: none;
        background-image: linear-gradient(
            120deg,
            transparent 0%,
            transparent 50%,
            $color-primary 50%
        );
        border-radius: 5px;
        background-size: 220%;
        transition: all 0.4s;

        span {
            margin-right: 1.5rem;
            font-size: 1.3rem;
            display: inline-block;
        }

        &:hover,
        &__active {
            background-position: 100%;
            background-color: $color-primary;
            color: white;
            transform: translateX(1rem);
            text-decoration: none;
        }
    }
}
