.info {
    margin: 1rem 0;
    padding: 5rem;

    & h3 {
        font-weight: 800;
    }

    & h3,
    & h6 {
        text-transform: capitalize;
        letter-spacing: 3px;
    }

    & h6 {
        font-weight: 300;
    }
}